Week 4 (Tutorial)

In [3]:
def my_function():
    print("Hello from My Function!")

y = my_function()

Hello from My Function!

In [4]:
def my_function_with_args(username, greeting):
    print("Hello, %s, From My Function!, I wish you %s" %(username, greeting))

In [6]:
my_function_with_args("Sam", "a good day!")

Hello, Sam, From My Function!, I wish you a good day!

In [7]:
def sum_two_numbers(a, b):
    return a + b

In [8]:
y = sum_two_numbers(5,17)
print(y)
#print(sum_two_number(5,7))

22

How do you call functions in Python

In [15]:
# define our three functions
def my_function():
    print("Hello From My Function!")

def my_function_with_args(username, greeting):
    print("Hello, %s, From My Function!, I wish you %s" %(username, greeting))

def sum_two_numbers(a, b):
    return a + b
#print(a simple greeting)
my_function()

#prints - "Hello, John Doe, From My Function!, I wish you a great year!"
my_function_with_args("John Doe", "a great year!")

#after this line x will hold the value 3!
x = sum_two_numbers(1,2)
print(x)

Hello From My Function!
Hello, John Doe, From My Function!, I wish you a great year!
3

Exercise:

1. Add a function named list_benefits() that returns the following list of strings: "More organized code", "More readable code", "Easier code reuse", "Allowing programmers to share and connect code together."

In [17]:
# Modify this function to return a list of strings as defined above

def list_benefits():
    lst=[
    "More organized code",
    "More readable code",
    "Easier code reuse",
    "Allowing programmers to share and connect code together"
]
    return lst

# Modify this function to concatenante to each benefit - "is a benefit of function!"
def build_sentence(info):
    return info + " is a benefit of functions!"

def name_the_benefits_of_functions():
        listA = list_benefits()
        for x in listA:
            print(build_sentence(x))

name_the_benefits_of_functions()

More organized code is a benefit of functions!
More readable code is a benefit of functions!
Easier code reuse is a benefit of functions!
Allowing programmers to share and connect code together is a benefit of functions!

Function Arguments

In [18]:
def add_numbers(first_num=0, second_num= 0):
    return first_num+second_num

In [19]:
print(add_numbers()) # FFunction call without input arguments, will return the results using the default arguments

0

In [20]:
print(add_numbers(7,4)) # Function call with input arguments, will return the results using the supplied arguments

11

Keyword Arguments

In [30]:
def add_numbers(first_num=0, second_num=0):
    print(f"The first number is : {first_num}")
    print(f"The second number is : {second_num}")
    return first_num + second_num

In [31]:
print(add_numbers(first_num=7, second_num=4))

The first number is : 7
The second number is : 4
11

In [32]:
print(add_numbers(second_num=4))

The first number is : 0
The second number is : 4
4

Variable Length Arguments

In [33]:
print("Hello")
print("Hello")
print("Hello", "World")
print("Hello", "World", "From", "TBC")

Hello
Hello
Hello World
Hello World From TBC

In [38]:
def make_path(*names):
    result = ""
    for name in names:
        result += name + "/"
    return result

In [39]:
#call the function with 2 arguments

print(make_path("home", "docs"))

home/docs/

In [40]:
#call the same function, but with 4 arguments
print(make_path("home", "code", "python", "sorter"))

home/code/python/sorter/

Arbitary Keyword Arguments

In [41]:
def show_details(title= "Details", **info):
    print(title)
    for name in info:
        print(name, ":", info[name])

In [43]:
show_details(title= "warning")

warning

In [44]:
show_details(msg="file created", err= "no issues")

Details
msg : file created
err : no issues

In [45]:
show_details(title="error", reason= "disk full")

error
reason : disk full

Lamda Expressions, and Map Function

Map function

In [46]:
def square(num):
    return num**2

In [47]:
square(3)

9

In [48]:
my_nums = [1, 2, 3, 4, 5]

for n in my_nums:
    print(square(n))

1
4
9
16
25

In [49]:
my_nums = [1, 2, 3, 4, 5]

In [50]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [52]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'even'
    else:
            return mystring[0]

In [53]:
mynames = ['John', 'Cindy', 'Sarah', 'Kelly', 'Mike']

In [54]:
list(map(splicer,mynames))

['even', 'C', 'S', 'K', 'even']

Lamda Expression

In [55]:
def square(num):
    result = num**2
    return result

In [56]:
square(2)

4

In [57]:
def square(num):
    return num**2

In [58]:
square(2)

4

In [59]:
def square(num): return num**2

In [60]:
square(2)

4

In [61]:
lambda num: num ** 2

In [63]:
square_l = lambda num: num ** 2

In [64]:
square_l(3)

9

In [65]:
my_nums = [1, 2, 3, 4, 5]

In [66]:
def square(num):
    return num ** 2

In [67]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [68]:
list(map(lambda x: x ** 2, my_nums))

[1, 4, 9, 16, 25]

In [69]:
names = ["Swikriti Thapa", "Arju Sharma", "Mavira KC", "Nistha Acharya", "Hingish Limbu"]

In [70]:
lambda s : s[0]

In [71]:
list(map(lambda s: s[0],names))

['S', 'A', 'M', 'N', 'H']

In [72]:
list(map(lambda s: " ".join(s.split()[:: -1]),names))

['Thapa Swikriti',
 'Sharma Arju',
 'KC Mavira',
 'Acharya Nistha',
 'Limbu Hingish']

In [73]:
list(map(lambda s: s.upper(),names))

['SWIKRITI THAPA',
 'ARJU SHARMA',
 'MAVIRA KC',
 'NISTHA ACHARYA',
 'HINGISH LIMBU']

In [74]:
lambda s: s[::-1]

In [75]:
list(map(lambda s: s[::-1],names))

['apahT itirkiwS',
 'amrahS ujrA',
 'CK arivaM',
 'ayrahcA ahtsiN',
 'ubmiL hsigniH']

In [78]:
ans = lambda x,y : x + y
ans(2,3)

5

Week 5: