Week 2 (Tutoring)

print()

In [1]:
print("This line will be printed. ")

This line will be printed.

Indentation

In [2]:
x = 1
if x == 2:
    #indented four spaces
    print("x is 1.")

Keywords

In [3]:
import keyword
print(keyword.kwlist)
print (len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

imput()

In [6]:
my_val = int(input("Enter a number: "))
type(my_val)

int

Variables and Types:

In [7]:
student_marks = 25
print(student_marks)
print("student_marks")

25
student_marks

Numbers

In [1]:
myint = 7
print(myint)
print(type(myint))

7
<class 'int'>

In [2]:
x = int(5.0)
print (x)

5

In [4]:
myfloat = 7.5
print(type(myfloat))
print(myfloat)

<class 'float'>
7.5

In [6]:
myfloat = float(5)
print(myfloat)

5.0

In [7]:
myvar = '7'
print(myvar)
type(myvar)

7

str

In [8]:
y = int(myvar)
type(y)

int

In [9]:
a = 4
b =6
c = a/b
int(c)  #print can be written instead of int too

0

In [10]:
my_value = 5
print(my_value)

5

Constants

In [11]:
NUM = 5
NUM

5

Strings

In [12]:
mystring = 'hello'
print(mystring)

hello

In [8]:
mystring = "hello"
mystring

'hello'

In [14]:
one = 1 
two = 2
three = one + two
print(three)

3

In [17]:
a = "hello "
b = "world"
c = a + b
print (c)

hello world

In [18]:
a, b, c, = 3, 4, 7
print(a,b)
print(c)

3 4
7

In [19]:
#this will not work!
one = 1 
two = 2
hello = "hello"
print(one + two + hello)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Exercise

In [20]:
#change this code
mystring = None
myfloat = None
myint = None

#testing code
if mystring == "hello":
    print("String: %s" %mystring )
    if isinstance(myfloat, float) and myfloat == 10.0:
        print("Float: %f" %myfloat)
        if isinstance(myint, int) and myint == 20:
            print("Integer: %d" % myint)

In [10]:
value = mylist[1]
print(value)

3

In [26]:
new_list = [21, 33, 45, 75, 91, 99]
print(new_list)

[21, 33, 45, 75, 91, 99]

 List

In [4]:
mylist = [1,3,4,6,7,9, "hi", "hello"]
print(mylist)

[1, 3, 4, 6, 7, 9, 'hi', 'hello']

Accessing items in a list

In [5]:
print(mylist[0])
print(mylist[1])
print(mylist[2])
print(mylist[3])
print(mylist[4])
print(mylist[5])

1
3
4
6
7
9

In [6]:
value = mylist[1]
print(value)

3

Some useful list methods

In [34]:
new_list = [21, 33, 45, 75, 91, 99]
print(new_list)

[21, 33, 45, 75, 91, 99]

Append

In [35]:
new_list.append(101)
print(new_list)

[21, 33, 45, 75, 91, 99, 101]

Insert

In [36]:
new_list.insert(1,107)
print(new_list)

[21, 107, 33, 45, 75, 91, 99, 101]

Extend

In [37]:
new_list.extend([200, 201, 202])
print(new_list)

[21, 107, 33, 45, 75, 91, 99, 101, 200, 201, 202]

Pop

In [38]:
removed_value = new_list.pop()
print(new_list)
print(removed_value)

[21, 107, 33, 45, 75, 91, 99, 101, 200, 201]
202

Del

In [39]:
del mylist[1]
print (mylist)

[1, 4, 6, 7, 9, 'hi', 'hello']

Indexing and Slicing

In [40]:
new_list = [21,33,45,75,91,99]

Indexing

In [41]:
new_list[2]

45

In [42]:
new_list[-1]

99

Slicing

In [44]:
new_list[:3]

[21, 33, 45]

In [45]:
new_list[1:]

[33, 45, 75, 91, 99]

In [46]:
new_list[2:4]

[45, 75]

In [47]:
new_list[1:5:2] #slicing with a step size of two

[33, 75]

In [48]:
new_list[-3:] #specifying posotion from the last

[75, 91, 99]

In [49]:
new_list[:: -1] #reverse the list

[99, 91, 75, 45, 33, 21]

Exercise A

In [50]:
#initialize empty lists

# initialize empty list
numbers = []
strings = []
names = ["Pratiksha", "Riya", "Debu"]

# Add numbers to the numbers list
numbers.append(1)
numbers.append(2)
numbers.append(3)


# Add strings to the strings list
strings.append("Hello")
strings.append("world")

# Access the second name from the names list
second_name = names[1]  # index 1 refers to "Riya"

#print the results
print(numbers) # Output: [1,2,3]
print("The second name on the names list is %s" % second_name)

[1, 2, 3]
The second name on the names list is Riya

Exercise B

In [60]:
name = input("Enter your name: ")
roll = input("Enter your roll: ")

list = [1,2,3]
list.append(name)
list.append(roll)
print(list)

[1, 2, 3, 'debu', '12']

In [61]:
astring = "Hello world!"
print(astring.upper())
print(astring.lower())

HELLO WORLD!
hello world!

In [64]:
astring = "Hello world!"
print(astring.startswith("Hello"))
print(astring.endswith("world!"))

True
True

In [65]:
astring = "Hello world!"
afewwords = astring.split(" ")
print(afewwords)

['Hello', 'world!']

Conditions

In [66]:
x = 2
print(x == 2) #prints out true
print(x == 3) #prints out false
print(x<3) #prints out true

True
False
True

In [67]:
if (x==2):
    print("Yay!")

Yay!

In [68]:
(1 >= 3) and (4 > 2)

False

Boolean operators/ logical operators

In [69]:
name = "John"
age = 23
if name == "John" and age == 23:
    print("Your name is John, and you are also 23 years old.")

    if name == "John" or name == "Rick":
        print("Your name is either John or Rick. ")

Your name is John, and you are also 23 years old.
Your name is either John or Rick.

The "in" operator

In [70]:
x = "abc"
x in "abcdef"

True

In [71]:
name = "John"
if name in ["John", "Rick"]:
    print("Your name is either John or Rick.")

Your name is either John or Rick.

In [72]:
x = 4*0.5

if x == 2:
    print("x equals two!")
else:
    print("x does not equal to two. ")

x equals two!

In [73]:
odd_list = [1,2,3,4,5]
even_list = []

if odd_list:
    print(odd_list)
    if even_list:
        print(even_list)

[1, 2, 3, 4, 5]

Ternary Operator

In [74]:
number_type = 'odd' if x%2!=0 else 'even'
print(number_type)

even

In [75]:
number_type = 'odd' if x%2==0 else 'even'
print(number_type)

odd

The 'is' operator

In [76]:
x = [1,2,3]
y = [1,2,3]
print(x == y) #prints out two
print(x is y) #prints out false

True
False

In [77]:
num = [1,2,3,5,7]
num_copy = num.copy()

In [78]:
num_copy

[1, 2, 3, 5, 7]

In [79]:
num_copy.sort(reverse = True)
num_copy

[7, 5, 3, 2, 1]

In [80]:
num

[1, 2, 3, 5, 7]

In [81]:
num is num_copy

False

The "not" operator

In [82]:
print(not False) #prints out True
print((not False) == (False)) #Prints out False

True
False

Exercise

In [83]:
#change this code
number = 1
second_name = 5
first_array = []
second_array = []

if number > 15:
    print("1")

    if first_array:
        print("2")

        if len(second_array) == 2:
            print("3")

            if len(first_array) + len(second_array) == 5:
                print("4")

                if first_array and first_array[0] == 1:
                    print("5")
                    if not second_number:
                        print("6")

Loops

In [84]:
primes = [2, 3, 5, 7, 9]
for x in primes:
    print(x)

2
3
5
7
9

In [85]:
for x in range(len(primes)):
    print(primes[x])

2
3
5
7
9

In [ ]:
#print out the numbers 0,1,2,3,4